<div class="row">
	<div class="span4">
		<div class="control-group">
			<label for="language">Јазик</label>
			<select name="language" id="language">
				<option>-</option>
				<option value="mk">Македонски</option>
				<option value="en">Англиски</option>
			</select>
		</div>
	</div>
	<div class="span4">
		<div class="control-group">
			<label for="page">Страна</label>
			<select name="page" id="page">
				<option>-</option>
				<option value="bujinkan">Буџинкан</option>
				<option value="daito">Даито</option>
				<option value="hombu">Хомбу</option>
			</select>
		</div>
	</div>
	<div class="span4 last">
		<div class="control-group">
			<label for="category">Категорија</label>
			<select name="category" id="category">
				<option>-</option>
				{{#categories}}
					<option value="{{value}}">{{name}}</option>
				{{/categories}}
			</select>
		</div>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th>Наслов</th>
		<th>Јазик</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
{{#articles}}
	<tr>
		<td>{{title}}</td>
		<td>{{language}}</td>
		<td class="action">
			<a class="btn btn-primary btn-sm" href="#articles/edit/{{id}}">
				<i class="icon-pencil"></i>
			</a>
			<a class="btn btn-danger btn-sm" href="#articles/delete/{{id}}">
				<i class="icon-remove"></i>
			</a>
		</td>
	</tr>
{{/articles}}
	</tbody>
</table>
